<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add user</title>
</head>
<body>
    <h2>add the details of newuser</h2>
    <form method="post" action="/user/add">
        <input type="text" name="id" placeholder="enter user id">
        <br>
        <input type="text" name="username" placeholder="enter username">
        <br>
        <input type="email" name="email" placeholder="enter user email">
        <br>
        <input type="password" name="password" placeholder="enter password">
        <br>
        <button>submit</button>
    </form>
</body>
</html>